:root {
    --color1: #fff;
    --color2: #445fa8;
    --color3: #013485;
    --color4: #00061c;
    --margin: 1vw;
    --fs: max(1vw, 16px);
    --width: 1vw;
    --height: 1vh;
}

body {
    overflow-x: hidden;
    font-family: 'Proxima Nova',sans-serif;
    font-size: var(--fs);
    line-height: 1.5;
}

::-webkit-scrollbar {
    width: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color: var(--color1);
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition:all 0.5s ease-in-out;
}

.preloader._active {
    left: 100vw;
}

#preloader__logo {
    width: 10vw;
}

#preloader__logo g{
    fill: var(--color1);
}

.menu__fullpage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    transition: all 0.8s ease-in-out;
    display: flex;
    justify-content: flex-end;
    right: -100vw;
}

.menu {
    width: 50vw;
    height: 100vh;
    background-color: var(--color3);
    color: var(--color1);
    z-index: 1;
}

.menu__content {
    padding: calc(4.5 * var(--margin)) calc(8.5 * var(--margin));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.menu__list {
    width: 30vw;
    opacity: 0;
    margin-bottom:  calc(2.5 * var(--margin));
    transform: translateY(-5vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s ease;
}

.menu__list._active {
    opacity: 1;
    transform: translateY(0);
}

.menu__list:hover .menu__link{
    opacity: 0.5;
}

.menu__link {
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1;
    color: var(--color1);
    opacity: 0;
    transition:all 0.7s ease;
}

.menu__link:hover {
    opacity: 1 !important;
}

.menu__link._active {
    text-transform: uppercase;
    line-height: 2;
    opacity: 1;
}

.menu__address {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(5vw);
    transition: all 0.6s ease-in-out;
}

.menu__address._active {
    opacity: 1;
    transform: translateY(0);
}

.address__title {
    margin-bottom: var(--margin);
}

.address__link {
    opacity: .5;
    position: relative;
    line-height: 2;
}

.address__item a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
    -ms-transform-origin: left;
    transition: .5s cubic-bezier(.435,.01,.135,1);
    opacity: 1;
    z-index: 9999;
}

.address__item:hover a {
    opacity: 1;
}

.address__item:hover a::after {
    opacity: 1;
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}


.menu__close {
    position: absolute;
    right: 4vw;
    top: 4vw;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 0.7em;
    cursor: pointer;
}

.menu__fullpage._active {
    right: 0;
}




.navigation {
    position: fixed;
    right: 2vw;
    top: 37vh;
    height: 50vh;
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__link {
    position: absolute;
    width: 0.3vw;
    height: 0.3vw;
    background-color: rgba(68,95,168,.15);
    border-radius: 100%;
}

.navigation__link._active {
    width: 0.5vw;
    height: 0.5vw;
    background-color: rgb(1, 52, 133);
}

.navigation__link._active._F {
    width: 0.5vw;
    height: 0.5vw;
    background-color: #013485;
}

.navigation__line {
    position: absolute;
    width: 1px;
    height: 3vw;
    background-color: rgba(68,95,168,.15);
}

.header__logo {
    width: 4vw;
    position: fixed;
    top: 4vw;
    left: 5vw;
    z-index: 999;
}

.logo__link {
    fill: var(--color1);
    transition: 0.5s ease;
}

.header__menu {
    display: block;
    line-height: 1;
    transition: all .3s cubic-bezier(.435,.01,.135,1);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    z-index: 1001;
    color: rgb(1, 52, 133);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 0.7em;
    position: fixed;
    right: 5vw;
    top: 4vw;
    cursor: pointer;
}

.header__menu span::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 60%;
    height: 1px;
    background-color: #fff;
    -ms-transform: scaleX(0.1);
    transform: scaleX(0.1);
    transform-origin: left;
    -ms-transform-origin: left;
    transition: .5s cubic-bezier(.435,.01,.135,1);
    opacity: 0;
    z-index: 9999;
}

.header__menu:hover span::after {
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

.header__menu span:nth-of-type(2) {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    transform: rotateX(90deg);
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    backface-visibility: hidden
}

.pageBg {
    position: absolute;
}

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp-tableCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home, .foreword, .about, .people, .news, .contact {
    width: 80vw;
    height: 80vh;
    transition:all 1s;
    overflow: hidden;
    position: relative;
}

.foreword, .about, .people, .news, .contact {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 9px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 9px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 9px 4px rgba(34, 60, 80, 0.2);
}

.home._active, .foreword._active, .about._active, .people._active, .news._active, .contact._active {
    width: 100vw;
    height: 100vh;
}

.news {
    opacity: 1;
}

.home {
    overflow: hidden;
    
   }

.home__bgImg {
    position: relative; 
    width: 1vw;
    height: 1vw;
    opacity: 0;
    background: url(../img/2117-nochnoj-izhevsk-990x660.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    -webkit-box-shadow: 0px 0px 25px -4px rgba(34, 60, 80, 0.27);
    -moz-box-shadow: 0px 0px 25px -4px rgba(34, 60, 80, 0.27);
    box-shadow: 0px 0px 25px -4px rgba(34, 60, 80, 0.27);
    overflow: hidden;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    animation: city 40s infinite;
    -webkit-animation: city 40s infinite;
}

.home._active .home__bgImg {
    opacity: 1;
    width: 80%;
    height: 100%;
    border-radius: 0;
    border-bottom-right-radius: 20vw;
}

.home__bgImg._off {
    animation-play-state: paused;
}

.home__bgImg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 1;
}

@keyframes city {
    0% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1);
	}
    100% {
        transform: scale(1.2);
    }
   }
   @-webkit-keyframes city {
    0% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1);
	}
    100% {
        transform: scale(1.2);
    }
   }

.home__text {
    position: absolute;
    bottom: 20vh;
    left: 16vw;
    color: var(--color1);
    z-index: 2;
    width: 100%;
    font-size: 1.7em;
}

.home__title {
    transform: translate(17vw, -7vw);
    opacity: 0;
    transition-delay: 0.5s;
    transition:all 0.8s ease-in-out;
    line-height: 1;
}

.home__title._active {
    transform: translate(0, 0);
    opacity: 1;
}

.home__subtitle {
    transform: translate(17vw, -7vw);
    transition-delay: 0.5s;
    transition:all 0.8s ease-in-out;
    opacity: 0;
}

.home__subtitle._active {
    transform: translate(0, 0);
    opacity: 1;
}

.foreword {
    display: flex;
    justify-content: space-between;
}

.foreword__left-column {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foreword__imgBg {
    position: relative;
    width: calc(26 * var(--width));
    height: calc(71 * var(--height));
}

.foreword__img {
    position: absolute;
    right: 0;
    top: 0;
    height: 25vw;
    width: 25vw;
    opacity: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background-image: url(../img/female-student-with-books-and-paperworks.jpg);
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 25px -4px rgba(34, 60, 80, 0.27);
    -moz-box-shadow: 0px 0px 25px -4px rgba(34, 60, 80, 0.27);
    box-shadow: 0px 0px 25px -4px rgba(34, 60, 80, 0.27);
    transform: scale(1.2);
    transition: all 0.7s ease-in-out;
    transition-delay: 0.5s;
}

.foreword__img._active {
    opacity: 1;
    transform: scale(1);
}

.foreword__right-column {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.foreword__text {
    position: relative;
    width: 30vw;
    padding: calc(1 * var(--margin));
    font-size: .9em;
}

.foreword__title {
    font-size: 2em;
    line-height: 1;
    transform: translate(10vw, -10vh);
    opacity: 0;
    margin-bottom: calc(3*var(--margin));
    transition:all 0.5s ease-in-out;
}

.foreword__title._active {
    transform: translate(0, 0);
    opacity: 1;
}

.foreword__text {
    transform: translate(-10vw, 10vh);
    opacity: 0;
    margin-bottom: calc(3*var(--margin));
    transition:all 0.5s ease-in-out;
}

.foreword__text._active {
    transform: translate( 0, 0);
    opacity: 1;
}



.foreword__text p {
    font-size: .9em;
    text-align: justify;
    opacity: .9;
    margin-top: calc(1.25 * var(--margin));
    margin-bottom: calc(1.25 * var(--margin));
}

.about, .news {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__content, .news__content {
    position: relative;
    width: 70vw;
}

.why__titel, .services__title {
    opacity: 0;
    transition: all 1s ease-in-out;
}

._active .why__titel {
    opacity: 1;
}

.why__blocks {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}


.why__block {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 15px;
    font-size: 0.83em;
    width: 44%;
    margin: calc(1 * var(--margin));
    padding: calc(0.5 * var(--margin));
    z-index: 10;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 9px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 9px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 9px 4px rgba(34, 60, 80, 0.2);
    transition: all 1s ease;
}

.why__blocks .why__block:nth-child(odd) {
    transform: translateX(-3vw);
}
.why__blocks .why__block:nth-child(even) {
    transform: translateX(3vw);
}

._active .why__block.why__block:nth-child(odd), ._active .why__block.why__block:nth-child(even)  {
    opacity: 1;
    transform: translateX(0);
}

.why__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(0.5 * var(--margin));
    border: 2px solid rgba(121, 151, 158, 1);
    border-radius: 15px;
}

.why__icon svg {
    width: 3vw;
    height: 3vw;
    fill: rgba(121, 151, 158, 1);
}

.why__text {
    color: #000;
    margin: 0;
    margin-left: calc(0.5 * var(--margin));
}


.services__blocks, .comments__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.services__block, .comments__block {
    width: 27.8%;
    min-height: 10vw;
    margin: 1%;
    flex-grow: 1;
    padding: calc(0.5 * var(--margin)) calc(0.5 * var(--margin));
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 25px -4px rgba(34, 60, 80, 0.27);
    -moz-box-shadow: 0px 0px 25px -4px rgba(34, 60, 80, 0.27);
    box-shadow: 0px 0px 25px -4px rgba(34, 60, 80, 0.27);
    transition: all 1s ease-in-out;
}

.comments__text {
    font-size: 0.83em;
}

._active .services__block, ._active .comments__block {
    opacity: 1;
}

.services__title {
    opacity: 0;
    transition: all 1s ease-in-out;
}

._active .services__title {
    opacity: 1;
}

.services__icon svg{
    width: 6vw;
    height: 6vw;
    fill: rgba(121, 151, 158, 1);
}

.services__text {
    text-align: center;
    margin-bottom: 0;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.contact._section {
    display: flex;
    justify-content: space-between;
}

.contact__column {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__callback {
    width: 100%;
    height: 100%;
    background-color: rgba(121, 151, 158, 1);
    padding: 0 calc(2 * var(--margin));
}


.form-group label {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: calc(1 * var(--margin));
}

.form-group label span{
    color: #E32636;
}

.form-control {
    padding: calc(0.6 * var(--margin));
    border-radius: 15px;
    border: none;
}

.mail-btn {
    position:relative;
    top:35%;
    display:inline-block;
    padding:0.5rem 1rem;
    border:2px solid rgba(255,255,255,0.5);
    background:none;
    outline:none;
    -webkit-appearance: none;
    font-size:2rem;
    color:rgba(255,255,255,1);
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:0.5rem;
    text-indent:0.5rem;
    cursor:pointer;
    top: 1vw;
    transition:
      color 1.5s .5s,
      border 3s 1s;
    
  }
  .mail-btn:before,
  .mail-btn:after {
    content:'';
    position:absolute;
    opacity:0;
    backface-visibility:visible;
    transform-style:preserve-3d;
    perspective:400px;
    transform-origin:50% -50%;
    transform:rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
    transition:all 0.5s;
  }
  .mail-btn:before {
    top:5px;
    left:50%;
    height:2rem;
    background:white;
    border-top:2rem solid #2980b9;
    border-right:3rem solid transparent;
    border-left:3rem solid transparent;
  }
  .mail-btn:after {
    top:0;
    left:50%;
    border-top:2rem solid white;
    border-right:3rem solid transparent;
    border-left:3rem solid transparent;
  }
  .mail-btn:hover {
    color:rgba(255,255,255,0);
    border:2px solid rgba(255,255,255,0);
    transition:
      color .25s,
      border .25s;
  }
  .mail-btn:hover:before,
  .mail-btn:hover:after {
    opacity:1;
    transform:rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
  }
  .fly {
    color:rgba(255,255,255,0);
    border:2px solid rgba(255,255,255,0);
    animation:sended 4s 0.8s forwards;
  }
  @keyframes sended {
    0% {
      height:2rem;
      width:3.5rem;
      border-top:0;
      border-right:0;
      border-bottom:10px solid white;
      border-left:10px solid white;
      opacity:0;
      transform:rotate(-45deg) translateX(300%) translateY(-500%);
    }
    5% {
      height:2rem;
      width:3.5rem;
      border-top:0;
      border-right:0;
      border-bottom:10px solid white;
      border-left:10px solid white;
      opacity:1;
      transform:rotate(-45deg) translateX(0) translateY(0);
    }
    78% {
      height:2rem;
      width:3.5rem;
      border-top:0;
      border-right:0;
      border-bottom:10px solid white;
      border-left:10px solid white;
      opacity:1;
      transform:rotate(-45deg) translateX(0) translateY(0);
    }
    79% {
      height:2rem;
      width:3.5rem;
      border-top:0;
      border-right:0;
      border-bottom:10px solid white;
      border-left:10px solid white;
      opacity:0;
      transform:rotate(-45deg) translateX(0) translateY(0);
    }
    80% {
      height:auto;
      width:auto;
      color:rgba(255,255,255,0);
      border:2px solid rgba(255,255,255,0);
      opacity:0;
      transform:rotate(0) translateX(0) translateY(0);
    }
    100% {
      height:auto;
      width:auto;
      color:rgba(255,255,255,1);
      border:2px solid rgba(255,255,255,0.5);
      opacity:1;
      transform:rotate(0) translateX(0) translateY(0);
    }
  }
  .fly:before,
  .fly:after {animation:flyout .6s forwards;}
  @keyframes flyout {
    0% {
      opacity:1;
      transform:rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
    }
    33% {
      opacity:0.66;
      transform:rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
    }
    100% {
      opacity:0;
      transform:rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
    }
  }

.form-control {
    transition: all 0.3s ease-in-out;
}

.form-control._error {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.5);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(2 * var(--margin));
}

.form {
    position: relative;
    width: 70%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

._active .form {
    opacity: 1;
}

.form legend {
    font-size: 2.4em;
    color: #fff;
    margin: calc(2 * var(--margin)) 0;
}


.comments__block {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    justify-content: flex-start;
}

.comments__img {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments__text {
    width: 70%;
    margin: 0;
    text-align: center;
    opacity: 0.7;
}

.comments__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.comments__user {
    display: flex;
    flex-direction: column;
    align-items: center;
}



